.vscode

.DS_Store
node_modules
coverage

!jest.config.js

.env
.env.*
build
dist

_testing/

docs/.vuepress/.cache
docs/.vuepress/.temp

docs/.vitepress/dist
docs/.vitepress/cache

docs/.vitepress/components/examples

examples/_testing

testing.ts

llm-exe-**.tgz

development.ts